<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="nosotros.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>HEIDIY NAILS</title>
</head>
<body>
  <div class="menu">
    

  <nav class="menu">
    <div class="logo">
      <img src="../../../assets/imagenes/f1logo.png" alt="Logo de la empresa">
    </div>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/about">Quiénes Somos</a></li>
        <li><a href="/contact">Pilotos</a></li>
        <li><a href="/servicios">Circuitos</a></li>
    </ul>
  </nav>
  
  </div>
  <section class="quienes-somos">
    <div class="container">
      <h1>Descubre la Esencia de la Fórmula 1</h1>
      <p>La Fórmula 1 es el pináculo del automovilismo deportivo, una amalgama de tecnología de vanguardia, habilidad conductiva y emoción sin límites. Desde su inicio en 1950, la Fórmula 1 ha cautivado a audiencias globales con su combinación única de velocidad, ingeniería y competición.</p>
      <p>En el corazón de la Fórmula 1 yace una búsqueda incansable de la excelencia, donde equipos y pilotos luchan por superar los límites físicos y técnicos en cada curva, recta y adelantamiento. Es un mundo donde la innovación es la moneda de cambio y la gloria se conquista en la pista, donde el rugido de los motores y el aroma a adrenalina se entrelazan en un ballet de precisión y valentía.</p>
      <p>En la Fórmula 1, cada carrera es una historia épica que se despliega ante nuestros ojos, una narrativa de habilidad, estrategia y pasión que nos transporta a un reino donde los sueños se hacen realidad y los héroes emergen triunfantes. Únete a nosotros en esta apasionante aventura donde el presente y el futuro se fusionan en una sinfonía de velocidad y emoción.</p>
    </div>
  </section>
  
  
  <footer>
    <div class="footer-container">
        <div class="contact-info">
            <div class="icon">
                <a href="https://x.com/f1?s=11" target="_blank">
                    <img src="../../../assets/imagenes/x.png" alt="WhatsApp">
                </a>
            </div>
            <div class="icon">
                <a href="https://web.facebook.com/groups/668953810828262/">
                    <img src="../../../assets/imagenes/facebook.png" alt="facebook">
                </a>
            </div>
            <div class="icon">
              <a href="https://www.instagram.com/f1/">
                  <img src="../../../assets/imagenes/instagram.png" alt="instagram">
              </a>
          </div>
        </div>
        <div class="legal-links">
            <a href="vistas/politicas.html">Políticas de Privacidad</a>
            <a href="vistas/terminos.html">Términos de Servicio</a>
            
        </div>
        
        
    </div>
    <p class="copyright">&copy; 2024 FORMULA 1. Todos los derechos reservados.</p>
</footer>
  
</body>
