<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="servicios.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>HEIDIY NAILS</title>
</head>
<body>
  <div class="menu">
    

  <nav class="menu">
    <div class="logo">
      <img src="../../../assets/imagenes/f1logo.png" alt="Logo de la empresa">
    </div>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/about">Quiénes Somos</a></li>
        <li><a href="/contact">Pilotos</a></li>
        <li><a href="/servicios">Circuitos</a></li>
    </ul>
  </nav>
  
  </div>
  <section class="pilotos">
    <div class="container">
      <h2>Circuitos Famosos</h2>
      <div class="fila">
        <div class="tarjeta">
          <img src="../../../assets/imagenes/monaco.jpg" alt="Piloto 1">
          <h3>Circuit de Monaco</h3>
          <p>Monte Carlo, Mónaco</p>
        </div>
        <div class="tarjeta">
          <img src="../../../assets/imagenes/monza.jpg" alt="Piloto 2">
          <h3>Autodromo Nazionale Monza</h3>
          <p>Monza, Italia</p>
        </div>
        <div class="tarjeta">
          <img src="../../../assets/imagenes/francor.jpg" alt="Piloto 3">
          <h3>Circuit de Spa-Francorchamps</h3>
          <p>Spa, Bélgica</p>
        </div>
      </div>
      <div class="fila">
        <div class="tarjeta">
          <img src="../../../assets/imagenes/silverstone.jpg" alt="Piloto 4">
          <h3>Silverstone Circuit</h3>
          <p>Silverstone, Reino Unido</p>
        </div>
        <div class="tarjeta">
          <img src="../../../assets/imagenes/cataluña.jpg" alt="Piloto 5">
          <h3>Circuit de Catalunya </h3>
          <p>Barcelona, España</p>
        </div>
        <div class="tarjeta">
          <img src="../../../assets/imagenes/suzuka.jpeg" alt="Piloto 6">
          <h3>Suzuka International <br> Racing Course </h3>
          <p>Suzuka, Japón</p>
        </div>
      </div>
    </div>
  </section>
  
  
  
  <footer>
    <div class="footer-container">
        <div class="contact-info">
            <div class="icon">
                <a href="https://x.com/f1?s=11" target="_blank">
                    <img src="../../../assets/imagenes/x.png" alt="WhatsApp">
                </a>
            </div>
            <div class="icon">
                <a href="https://web.facebook.com/groups/668953810828262/">
                    <img src="../../../assets/imagenes/facebook.png" alt="facebook">
                </a>
            </div>
            <div class="icon">
              <a href="https://www.instagram.com/f1/">
                  <img src="../../../assets/imagenes/instagram.png" alt="instagram">
              </a>
          </div>
        </div>
        <div class="legal-links">
            <a href="vistas/politicas.html">Políticas de Privacidad</a>
            <a href="vistas/terminos.html">Términos de Servicio</a>
            
        </div>
        
        
    </div>
    <p class="copyright">&copy; 2024 FORMULA 1. Todos los derechos reservados.</p>
</footer>
  
</body>
