<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="inicio.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <title>HEIDIY NAILS</title>
</head>
<body>
  <div class="menu">
    

  <nav class="menu">
    <div class="logo">
      <img src="../../../assets/imagenes/f1logo.png" alt="Logo de la empresa">
    </div>
    <ul>
        <li><a href="/inicio">Inicio</a></li>
        <li><a href="/about">Quiénes Somos</a></li>
        <li><a href="/contact">Pilotos</a></li>
        <li><a href="/servicios">Circuitos</a></li>
    </ul>
  </nav>
  
  </div>
  <div class="imagen-fondo">
    <div class="contenido-centrado">
      <h1>FORMULA 1</h1>
      <p>En la pista de la Fórmula 1, la innovación y la pasión se unen en una carrera hacia la excelencia, donde cada curva desafía los límites del rendimiento humano y tecnológico, impulsando a los pilotos a alcanzar nuevas alturas y a los aficionados a vivir emociones sin igual en cada giro del volante.</p>
    </div>
  </div>
  
  
  <footer>
    <div class="footer-container">
        <div class="contact-info">
            <div class="icon">
                <a href="https://x.com/f1?s=11" target="_blank">
                    <img src="../../../assets/imagenes/x.png" alt="WhatsApp">
                </a>
            </div>
            <div class="icon">
                <a href="https://web.facebook.com/groups/668953810828262/">
                    <img src="../../../assets/imagenes/facebook.png" alt="facebook">
                </a>
            </div>
            <div class="icon">
              <a href="https://www.instagram.com/f1/">
                  <img src="../../../assets/imagenes/instagram.png" alt="instagram">
              </a>
          </div>
        </div>
        <div class="legal-links">
            <a href="vistas/politicas.html">Políticas de Privacidad</a>
            <a href="vistas/terminos.html">Términos de Servicio</a>
            
        </div>
        
        
    </div>
    <p class="copyright">&copy; 2024 FORMULA 1. Todos los derechos reservados.</p>
</footer>
  
</body>
